body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20 ;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 20;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(150, 194, 250, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #00c3ff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e90e8d;
}
